# Ignore raw and processed data
data/raw/
data/processed/
data/predictions/
data/weather/

# Ignore virtual environment and package cache
venv/
package/
scripts/lambda_layer
.nyc_taxi_env/
__pycache__/
*.pyc

# Ignore logs and temporary files
logs/
*.log
*.tmp
joblib_temp/

# Ignore model artifacts
models/
reports/
*.pkl
*.joblib
*.h5
*.zip

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore environment variables (if using .env files)
.env