annotated-types
antlr4-python3-runtime
anyio
asttokens
attrs
boto3
botocore
bottleneck
brotli
certifi
charset-normalizer
click
cloudpickle
colorama
comm
contourpy
cycler
debugpy
decorator
dill
docker
executing
fastapi
fonttools
git-filter-repo
google-pasta
h11
holidays
idna
importlib-metadata
ipykernel
ipython
jedi
jmespath
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
lightgbm
markdown-it-py
matplotlib
matplotlib-inline
mdurl
mkl-service
mkl_fft
mkl_random
mock
multiprocess
nest-asyncio
numexpr
numpy
omegaconf
packaging
pandas
parso
pathos
pillow
platformdirs
plotly
pox
ppft
prompt_toolkit
protobuf
psutil
pure_eval
pyaml
pyarrow
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
pywin32
pyyaml
pyzmq
referencing
requests
rich
rpds-py
s3transfer
sagemaker
sagemaker-core
schema
scikit-learn
scikit-optimize
scipy
seaborn
setuptools
six
smdebug-rulesconfig
sniffio
stack-data
starlette
tblib
tenacity
threadpoolctl
tornado
tqdm
traitlets
typing_extensions
tzdata
unicodedata2
urllib3
uvicorn
wcwidth
wheel
zipp